.about
	.h1-caption Кухни от производителя в Минске и МО
	p Мы начинали свой бизнес в 2007 году как дилеры мебели. Начиная с этого времени мы вникали во все нюансы данного бизнеса и набирали опыт. Основной проблемой такой работы было отсутствие возможности контролировать процесс производства мебели. Нередко проблемы качества кухонь возникшие по вине производителя приходилось устранять, иногда существенно изменялись сроки поставок мебели от производителя и мы, соответственно, подводили наших клиентов, приходилось оправдываться. Это нас не устраивало и не добавляло нам авторитета.
	p В 2010 году мы пришли к закономерному и логическому решению об открытии собственного производства мебели. Но мы не ставили себе цель организовать массовое производство и производить как можно больше мебели. Здесь как раз тот случай, когда количество не переходит в качество.
	p Мы производим уникальную мебель в соответствии со всеми пожеланиями заказчика.
	.about-us-block
		.about-us-container
			.about-item
				.green-h 51
				.text Штат сотрудников
			.about-item 
				.yellow-h 74
				.text 
					|Года общий стаж
					br
					|работы дизайнеров
			.about-item 
				.green-h 313
					span кв.м 
				.text Выставочные экспозиции
			.about-item 
				.yellow-h 1058
					span кв. м
				.text Производственная площадь
		.about-buttons-block
			a(href="")
				.service-block-button Рассчитать кухню онлайн 
			a(href="")
				.service-block-button Заказать дизайн-замер
			a(href="")
				.service-block-button Купить кухню в рассрочку