mixin slider
	.slide-container
		.theme-container
			.text-container-block
				.caption
					.text-block
						<h1>Кухни от мировых производителей
						br
						<h3>Качество, практичность, надёжность
					.bg-button
						a(href="")
							|Узнать больше
							img(src="img/enter.png" width="18px" height="18px" alt="enter")
.slide-container-block
	.arrows
		img(src="img/prev1.png" width="35px" height="47px" alt="prev" class="slide-prev")
		img(src="img/next1.png" width="35px" height="47px" alt="next" class="slide-next")
	.sliders
		+slider
		+slider
		+slider
		+slider